.video {
  border:1px solid red;
  background-color:white;
  height:68%;
  scroll-snap-align: start;
  position: relative;
  width:100%;
}
.video_player{
  object-fit: fill;
  width:100%;
  height:100%;
}